[Desktop Entry]
Name=Acquisizione Vaisala GMP343
Exec=bash -c "/home/misura/programs/CO2/calib-GMP343-logger.py"
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
Hidden=false
