# GMP343 CO2 sensor — Prolific PL2303 su xhci-hcd.0 (USB port 1)
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", KERNELS=="1-1", SYMLINK+="gmp343", GROUP="dialout", MODE="0660"

# VICI valve — Prolific PL2303 su xhci-hcd.1 (USB port 3)
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", KERNELS=="3-1", SYMLINK+="vici", GROUP="dialout", MODE="0660"
